<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">        
    </head>

    <body>
        <div class="container">
        <form action="/search" method="get">
            <label for="movie_name">Enter Movie Name: </label>
            <input id="movie_name" type = "text" name="name_field" placeholder="Start Exploring.">
            <input type="submit" value="search">
            </form>
        
            <div id="movie-details">
                <h1 class="text-center green-bold"><%= movie.title %></h1>
                <div class="row">
                    <div class="col-xs-5">
                        <img class="movie-poster" src=<%= movie.poster %> />
                    </div>
                    <div class="col-xs-7">
                        <table class="table">
                            <% /*  ----------------------------------------------
                            Repeat the following HTML structure for all key value pairs in movie object
                            -------------------------------------------------- */for(let key in movie){ %>
                            <tr>
                                <td><%= key %></td>
                                <td><%= movie[key] %></td>
                            </tr>
                            <% /*  ----------------------------------------------
                            -------------------------------------------------- */} %>
                        </table>
                    </div>    
                </div>

                <div class="row">
                    <div class=buttons>
                        <a class="btn btn-primary" href=<%= '/'  %>>Back</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

